


* {
    margin: 0;
    padding: 0;
    font-weight: 500;
}
body {
    font-family: 'Josefin Sans', sans-serif !important;
}
.bg-light{
    margin: auto;
    background-color: #fff !important;
}
.logo-13{
    width: 45%;
}
.proj-col h3{
    color: #405a76;
}
.blue-font{
    color: rgb(94, 94, 230);
}
.proj-col h4{
    color: grey;
}
.proj-col img{
    width: 100%;
}
.prof-img img{
    width: 100%;
    display: block;

}
.abt-img img{
    width: 100%;
    display: block;
}
.btn:hover{
    background-color: #0a0b61;
}
.btn{
    background-color: rgb(44, 44, 153);
    border: 3px solid #161781;
}
.blue-sec{
    background-color: rgb(36, 36, 90);
    color: white;
}
.mobile-picture{
    display: none;
}
.ind-img img{
    width: 100%;
}
.art-board img{
    display: block;
    margin: auto;
    width: 50%;
}
.project-header{
    text-align: center;
}
.proj-img{
    position: relative;
}
.proj-img:hover{
    cursor: pointer;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .middle {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .proj-img:hover .image {
    opacity: 0.5;
  }
  
  .proj-img:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #161781;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .proj-img a{
      text-decoration: none;
  }
  .container-footer{
      width: 75%;
      margin: auto;
  }
  .footer-black{
      background-color: black;
      color: white;
  }
  .footer-black ul{
        list-style-type: none;
        font-size: 1.5em;
  }
  .gallery-img img{
      width: 100%;
  }
  .footer-black a{
      text-decoration: none;
      color: white;
  }
  .mobile-picture-seo{
    display: none;
  }
  .typewriter h1 {
    font-size: 3em;
    overflow: hidden; 
    border-right: .10em solid blue;
    white-space: nowrap; 
    margin: 0 auto; 
    -webkit-animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite; 
            animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .scrumptious-website{
      width:100%;
  }
  .gif-border{
      border: white 5px solid;
      border-radius: 5px;
  }
  .white-action-btn{
      background-color: white;
      border: 3px solid #fff;
      font-weight: bold;
      border-radius: 5px;
      padding: 10px 20px !important;
  }
  .white-action-btn:hover{
    background-color: #000;
    color: white;
  }
  .white-action-btn:focus{
    display: none;
  }
  .nd-cta{
    background-color: white;
    color:#161781;
    border: 3px solid #161781;
  }
  .well {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-body p{
      color: white;
  }
  .accordian-btn{
      width: 100%;
      color: #0a0b61;
      background-color: transparent;
      text-decoration: none;
      border: none;
  }
  .accordian-btn:hover{
      background-color: white;
  }
  .accordian-btn:focus{
      display: none;
      outline:0 !important;
  }
  .accordian-header{
      text-align: center;
  }
  .card{
      background-color: transparent;
  }
  .card-header{
      background-color: white;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0a0b61;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  ::-moz-selection {
    color: blue;
    background: yellow;
  }
  
  ::selection {
    color: blue;
    background: yellow;
  }
  /* The typing effect */
  @-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(31, 31, 131); }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(31, 31, 131); }
  }
  @media screen and (max-width: 812px) {
      .logo-13{
          width: 35%;
      }
    .typewriter h1{
        font-size: 1.65em;
    }
  }
  .mob-pic{
      height: 200px;
  }
  @media screen and (max-width: 668px) {
      footer ul{
          padding-left: 0px !important;
      }
    .btn{
        margin-top: 15px;
    }
  }
@media screen and (max-width: 600px) {
    .logo-13{
        width: 30%;
    }
    .mobile-scl{
        display: inline !important;
        -webkit-box-pack: end !important;
            -ms-flex-pack: end !important;
                justify-content: end !important;
    }
    .prof-img img{
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .mobile-picture{
        display: block;
        margin-top: 3%;
        margin-bottom: 10%;
        width: 100%;
    }
    .mobile-picture-seo{
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    .btn{
        margin-top: 5%;
    }
    .pt-5{
        padding-top: 0px !important;
    }
    .abt-img{
        display: none;
    }
    .footer-black ul{
        margin-top: 15%;
        font-size: 1.25em;
    }
    .footer-black ul li{
        padding:  10px 0px;
    }
    .footer-logo{
        display: none;
    }
    .footer-para{
        display: none;
    }
    .prof-img img{
        width: 60%;
    }
    .gallery-img img{
        border:none;
    }
    .typewriter h1{
        font-size: 1.75em;
    }
    .breadcrumb{
        padding-left: 0px;
        padding-bottom: 15px;
        font-size: 1em;
    }

    .white-action-btn{
        font-weight: 100;
        font-size: .75em;
        display: block;
        margin: auto;
    }
    .mobile-text{
        text-align: center;
    }
    .p-5{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .mt-5{
        margin-bottom: 0px !important;
    }
    footer ul{
        padding-left: 0px !important;
    }
    .btn{
        font-size: .85em;
        margin: 3% auto;
        display: block;
    }
    .pad-mobile{
        padding-top: 0px !important;
    }
    .mobile-vanish{
        display: none;
    }
    hr{
        display: none;
    }
    .navbar-toggler{
        margin-left: 30%;
    }
  }