* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.colored-section{
    background-color: blue;
}
.colored-section ul{
    display: flex;
    justify-content: flex-end;
}
.colored-section ul li{
    list-style-type: none;
    display: inline;
    color: grey;
    padding: 50px 50px 50px 50px;
    font-size: 1.10em;
}
.colored-section a{
    text-decoration: none;
}
.colored-section a:link{
    color: #d6d6d6;
}
.colored-section a:visited{
    color: #d6d6d6;
}
.active{
    color: white !important;
    padding-bottom: 10px;
    border-bottom: 5px solid #fff;
}
.wrapper{
    width: 75%;
    margin: auto;
}
.black-bar{
    background-color: black;
}
.black-menu-bar{
    display: flex;
    background-color: black;
    color: white;
    width: 90%;
    margin: auto;
}
.black-menu-bar p{
    font-weight: bold;
    padding: 5px 40px;
}