* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    font-family: sans-serif;
}

.colored-section {
    background-color: #435058;
}

.colored-section ul {
    display: flex;
    justify-content: flex-end;
}

.colored-section ul li {
    list-style-type: none;
    display: inline;
    color: #dcf763;
    padding: 50px 50px 50px 50px;
    font-size: 1.10em;
}
.colored-section ul li a:hover{
    color: white;
}

.colored-section a {
    text-decoration: none;
}

.colored-section a:link {
    color: #dcf763;
}

.colored-section a:visited {
    color: #dcf763;
}

.active {
    color: white !important;
}

.wrapper {
    width: 75%;
    margin: auto;
}

.section-home-1 {
    display: flex;
    position: relative;
    align-items: center;
}
.img-profile img{
    width: 60%;
    margin: auto;
    display: block;
}

.greeting h2 {
    color: #dcf763;
    font-size: 2.5em;
}

.greeting p {
    font-size: 1.5em;
    color: #f1f2ee;
}
